apps/n8n/workflows/02-queue-sweeper.json
{
  "id": "jg-queue-sweeper",
  "name": "JG: Queue Sweeper",
  "nodes": [
    {
      "id": "trigger-schedule",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "http-sweep",
      "name": "Sweep Orphaned Queue Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.JOBGENIUS_API_URL }}/api/ops/queue/sweep",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-ops-key", "value": "={{ $env.JOBGENIUS_OPS_API_KEY }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "check-enqueued",
      "name": "Items Enqueued?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-enqueued",
              "leftValue": "={{ $json.enqueued }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "trigger-background-run",
      "name": "Kick Off Background Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 220],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.JOBGENIUS_API_URL }}/api/background/run",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "20" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-ops-key", "value": "={{ $env.JOBGENIUS_OPS_API_KEY }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "log-sweep",
      "name": "Log Sweep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 220],
      "parameters": {
        "jsCode": "const sweep = $('Sweep Orphaned Queue Items').first().json;\nconst run = $input.first().json;\nconsole.log('[JG Sweeper] Sweep result:', JSON.stringify({ enqueued: sweep.enqueued, skipped: sweep.skipped, candidates: sweep.candidates }));\nconsole.log('[JG Sweeper] Worker result:', JSON.stringify({ processed: run.processed, stale_runs: run.stale_runs }));\nreturn $input.all();"
      }
    },
    {
      "id": "log-idle",
      "name": "Nothing Orphaned",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [{ "node": "Sweep Orphaned Queue Items", "type": "main", "index": 0 }]
      ]
    },
    "Sweep Orphaned Queue Items": {
      "main": [
        [{ "node": "Items Enqueued?", "type": "main", "index": 0 }]
      ]
    },
    "Items Enqueued?": {
      "main": [
        [{ "node": "Kick Off Background Worker", "type": "main", "index": 0 }],
        [{ "node": "Nothing Orphaned", "type": "main", "index": 0 }]
      ]
    },
    "Kick Off Background Worker": {
      "main": [
        [{ "node": "Log Sweep", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
